<div class='col-xs-10 col-xs-offset-1 about'>
	<h1>About Quotey</h1>

	<p>
		Quotey was built by <a target="_blank" href="http://github.com/vupham0326">Vu Pham</a>. An aspiring web and mobile developer who's passionate about all things related to web/mobile development. 
	</p>
	<p>
		If you want to learn how to code - start <a target='_blank' href="http://www.firehoseproject.com/"> here</a>.
	</p>
	<br />
	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'vu.jpg', :class => 'img-responsive' %>
		<br/>
	</div>
	
</div>
<br class="clear"/>
<br />
<br />
<br />
<br />
